body {
	color: #404f5f
}

.footer-custom {
  background-color: rgb(237, 237, 237);
  min-height: 60px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}

.container.body .main_container .col-md-3.left_col {
  z-index: 1000;
}

.modal-header-custom {
  box-shadow: 0px 4px 5px -4px #ccc;
}

.modal-footer-custom {
  box-shadow: 0px -4px 4px -4px #ccc;
}

.btn-no-bottom-margin {
  margin-bottom: 0;
}

.zero-margin {
	margin: 0;
}

.modal-body-custom {
  background-color: rgba(101, 101, 101, 0.09);
}

.login_wrapper {
  margin-top: 10%;
}

.login_content {
  text-shadow: 0 0 0 #fff;
}

#login-form-alt {
  display: none;
}

#login-button {
  background-color: rgb(33, 170, 193);
  color: #fff;
  width: 100%;
}

.login_content.login-content-custom input[type="text"],
.login_content.login-content-custom input[type="password"] {
  box-shadow: 0 0 0 0 #fff;
}

.login-form-custom {
  background-color: rgba(204, 204, 204, 0.64);
  padding: 20px;
  box-shadow: 0px 0px 10px 5px rgba(107, 121, 185, 0.23);
  border-radius: 5px;
}

.login-form-parent {
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000;
}

.slide-in-bck-center {
	-webkit-animation: slide-in-bck-center 1.2s cubic-bezier(0.150, 0.460, 0.450, 1.040) both;
	-moz-animation: slide-in-bck-center 1.2s cubic-bezier(0.150, 0.460, 0.450, 1.040) both;
	animation: slide-in-bck-center 1.2s cubic-bezier(0.150, 0.460, 0.450, 1.040) both;
}

.slit-in-diagonal-1 {
	-webkit-animation: slit-in-diagonal-1 0.8s ease-out both;
	-moz-animation: slit-in-diagonal-1 0.8s ease-out both;
	animation: slit-in-diagonal-1 0.8s ease-out both;
}

.slit-in-horizontal {
	-webkit-animation: slit-in-horizontal 1s ease-out both;
	-moz-animation: slit-in-horizontal 1s ease-out both;
	animation: slit-in-horizontal 1s ease-out both;
}

.swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 1s ease-out both;
	-moz-animation: swirl-in-fwd 1s ease-out both;
	animation: swirl-in-fwd 1s ease-out both;
}

.rotate-in-diag-1 {
	-webkit-animation: rotate-in-diag-1 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: rotate-in-diag-1 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: rotate-in-diag-1 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.puff-in-center {
	-webkit-animation: puff-in-center 1.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	-moz-animation: puff-in-center 1.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: puff-in-center 1.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.rotate-in-center {
	-webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.rotate-in-2-bck {
	-webkit-animation: rotate-in-2-bck 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: rotate-in-2-bck 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: rotate-in-2-bck 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.rotate-in-hor {
	-webkit-animation: rotate-in-hor 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: rotate-in-hor 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: rotate-in-hor 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-fwd-center {
	-webkit-animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	-moz-animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2017-4-30 21:11:12
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(300px);transform:translateZ(300px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(300px);transform:translateZ(300px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
@-webkit-keyframes slit-in-diagonal-1{0%{-webkit-transform:translateZ(-800px) rotate3d(1,1,0,90deg);transform:translateZ(-800px) rotate3d(1,1,0,90deg);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}54%{-webkit-transform:translateZ(-160px) rotate3d(1,1,0,87deg);transform:translateZ(-160px) rotate3d(1,1,0,87deg);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;opacity:1}100%{-webkit-transform:translateZ(0) rotate3d(1,1,0,0);transform:translateZ(0) rotate3d(1,1,0,0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes slit-in-diagonal-1{0%{-webkit-transform:translateZ(-800px) rotate3d(1,1,0,90deg);transform:translateZ(-800px) rotate3d(1,1,0,90deg);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}54%{-webkit-transform:translateZ(-160px) rotate3d(1,1,0,87deg);transform:translateZ(-160px) rotate3d(1,1,0,87deg);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;opacity:1}100%{-webkit-transform:translateZ(0) rotate3d(1,1,0,0);transform:translateZ(0) rotate3d(1,1,0,0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
@-webkit-keyframes slit-in-horizontal{0%{-webkit-transform:translateZ(-800px) rotateX(90deg);transform:translateZ(-800px) rotateX(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateX(87deg);transform:translateZ(-160px) rotateX(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateX(0);transform:translateZ(0) rotateX(0)}}@keyframes slit-in-horizontal{0%{-webkit-transform:translateZ(-800px) rotateX(90deg);transform:translateZ(-800px) rotateX(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateX(87deg);transform:translateZ(-160px) rotateX(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateX(0);transform:translateZ(0) rotateX(0)}}
@-webkit-keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}@keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}
@-webkit-keyframes rotate-in-diag-1{0%{-webkit-transform:rotate3d(1,1,0,-360deg);transform:rotate3d(1,1,0,-360deg);opacity:0}100%{-webkit-transform:rotate3d(1,1,0,0deg);transform:rotate3d(1,1,0,0deg);opacity:1}}@keyframes rotate-in-diag-1{0%{-webkit-transform:rotate3d(1,1,0,-360deg);transform:rotate3d(1,1,0,-360deg);opacity:0}100%{-webkit-transform:rotate3d(1,1,0,0deg);transform:rotate3d(1,1,0,0deg);opacity:1}}
@-webkit-keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(2px);filter:blur(2px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(2px);filter:blur(2px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
@-webkit-keyframes rotate-in-center{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}@keyframes rotate-in-center{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}
@-webkit-keyframes rotate-in-2-bck{0%{-webkit-transform:translateZ(200px) rotate(45deg);transform:translateZ(200px) rotate(45deg);opacity:0}100%{-webkit-transform:translateZ(0) rotate(0);transform:translateZ(0) rotate(0);opacity:1}}@keyframes rotate-in-2-bck{0%{-webkit-transform:translateZ(200px) rotate(45deg);transform:translateZ(200px) rotate(45deg);opacity:0}100%{-webkit-transform:translateZ(0) rotate(0);transform:translateZ(0) rotate(0);opacity:1}}
@-webkit-keyframes rotate-in-hor{0%{-webkit-transform:rotateX(360deg);transform:rotateX(360deg);opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);opacity:1}}@keyframes rotate-in-hor{0%{-webkit-transform:rotateX(360deg);transform:rotateX(360deg);opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);opacity:1}}
@-webkit-keyframes slide-out-fwd-center{0%{-webkit-transform:translateZ(1);transform:translateZ(1);opacity:1}100%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}}@keyframes slide-out-fwd-center{0%{-webkit-transform:translateZ(1);transform:translateZ(1);opacity:1}100%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}}

.custom-label {
	font-weight: 600;
	font-size: 14px;
	color: #766;
	margin-right: 10px;
}

.value {
	font-weight: 600;
	font-size: 20px;
}

.value.value-mini {
	font-weight: 600;
	font-size: 18px;
}

.info-container {
	margin: 20px 0;
}

.date-picker.date-picker-custom {
	display: inline-block;
	width: 115px;
	max-height: 20px;
}

.mini-toastr__notification {
	font-size: 12px;
}

.mini-toastr__notification.-success {
	color: #335;
	background-color: rgba(50, 220, 40, 1) !important;
}

table[data-table-ajax].table-row-pointer tr:hover {
	cursor: pointer;
}

table[data-table-ajax] tbody tr:hover {
	background-color: #cddae4
}

.cursor-pointer {
	cursor: pointer;
}

#date-control {
	opacity: 0;
}

#dueDate:hover {
	cursor: pointer;
}

.alert.alert-success {
	background-color: rgba(40, 190, 40, 0.75);
}

.site_title {
	padding: 0 40px;
}

.profile_info {
	width: 200px;
	padding: 0px 10px 30px 40px;
}

#sidebar-menu {
	clear: left;
}

.fieldset-order-details {
	padding: 10px;
}

.select2-height-fix {
	height: 30px;
}

.order-entry-container .border {
	border: 1px dotted #2a3f54;
	display: inline-block;
	border-radius: 7px;
	margin: 10px;
	padding: 10px;
}

.legalization-switch {
	position: relative;
	top: 30px;
	left: 30px;
}

.order-entry-container {
	margin-top: 20px;
}

.custom-label.custom-label-mini {
	font-size: 13px;
}

.btn-fix-margin {
	margin-bottom: 0;
}

.underline-hover {
	color: rgb(37, 97, 162);
}

.underline-hover:hover {
	text-decoration: underline;
}

.border .form-group {
	margin-top: 10px;
}

input.shadow:focus {
	box-shadow: 0 0 10px 0px rgb(14, 138, 214) !important;
}

span.done {
	color: green;
	font-weight: bold;
}

span.not-done {
	color: red;
	font-weight: bold;
}

.btn-delete-translator {
	margin: 0;
}

.table-translators td:last-child {
	text-align: center;
}

.sender-control {
	margin-bottom: 35px;
}

.x_title span {
	color: #7387a5;
}

.table>tbody>tr>td {
	padding: 5px;
	vertical-align: middle;
}

.table.table-orders>tbody>tr>td {
	padding: 2px;
}

td>.btn {
	margin: 0;
}

.table-margin-bottom {
	height: 100px;
}

.border-bottom-dashed {
	border-bottom: dashed 1px #0088cc;
}

.btn.btn-primary.btn-custom {
	padding: 2px;
	font-size: 12px;
	width: 24px;
}

#sidebar-menu .side-menu>li>a>i {
	font-size: 19px !important;
	margin-bottom: 2px;
}
