	<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/main/head %>
</head>
<body>
	<script>
		if (localStorage['bodyClass']) {
			document.getElementsByTagName('body')[0].className = localStorage['bodyClass']
		} else {
			document.getElementsByTagName('body')[0].className = 'nav-md footer_fixed'
		}
	</script>
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col" style="position: fixed">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="/" class="site_title"><span>Translagency</span></a>
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
            <% include ./../partials/menu-profile-quick-info/menu-profile-quick-info %>
					<!-- /menu profile quick info -->

					<br />

					<!-- sidebar menu -->
						<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
						</div>
					<!-- /sidebar menu -->

				</div>
			</div>

			<!-- top navigation -->
        <% include ./../partials/top-navigation/top-navigation %>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2>Архив</h2>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<table data-table-draw-callback="unarchiveOrders" data-table-sort='[[0, "desc"]]' data-table-row-callback="rowCallbackOrder" class="table table-orders table-row-pointer table-striped" width="100%" data-table-ajax="/api/orders/archive?format=dataTables">
									<thead>
										<tr>
											<th>№</th>
											<th>Дата</th>
											<th>Клиент</th>
											<th>Титуляр</th>
											<th>Документ</th>
											<th>Фактура №</th>
											<th>Статус</th>
											<th>Платена</th>
											<th>Цена</th>
											<th>От</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
								<div class="table-margin-bottom"></div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /page content -->

			<!-- footer content -->
			<footer class="footer-custom">
				<div class="pull-right">
				</div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>

	<% include ../partials/main/footer-scripts %>
	
	<script>
		miniToastr.init()
	</script>

</body>
</html>
